{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning" role="alert">
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<main>
    <section class="mainbg person_card section-1">
        <div class="container">
            <a href="../patronage" class="back">Назад к списку</a>
            {% for item in person %}

            <div class="row">
                <div class="col-md-9">
                    <div class="box">
                        <div class="wrapper">
                            <div class="media">
                                <div class="media-left pic">
                                    <a href={{ item.photo }} target="_blank" data-fancybox
                                       data-caption="{{ item.name }}{{ item.surname }}">
                                        <img src={{ item.photo }} class="img-circle"/>
                                    </a>
                                    <small>Кликните на фото,<br/>чтобы увеличить</small>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">{{ item.name }} {{ item.surname }}</h3>
                                    <p>{{ item.address }}</p>
                                    <h3>О себе</h3>
                                    <p>{{ item.bio }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Анкета</a></li>
                            <li role="presentation"><a href="#skills" aria-controls="skills" role="tab"
                                                       data-toggle="tab">Навыки</a></li>
                            <li role="presentation"><a href="#review" aria-controls="review" role="tab"
                                                       data-toggle="tab">Отзывы</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Возраст</td>
                                            <td>{{ item.age }}</td>
                                        </tr>
                                        <tr>
                                            <td>Пол</td>

                                            {% if item.gender == 'female' %}

                                            <td>Женский</td>

                                            {% else %}

                                            <td>Мужской</td>

                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>Опыт</td>
                                            <td>{{ item.experience }}</td>
                                        </tr>
                                        <tr>
                                            <td>Мед. образование</td>

                                            {% if item.medical == 1 %}

                                            <td>Есть</td>

                                            {% else %}

                                            <td>Нет</td>

                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>

                            </div>

                            <div role="tabpanel" class="tab-pane " id="skills">
                                <table class="table table-striped">

                                    {% if item.patient_age == 'any' or item.patient_age == '0' %}
                                    <tr>
                                        <td>Пациенты любого возраста</td>
                                    </tr>

                                    {% else %}
                                    <tr>
                                        <td>Пациенты {{ item.patient_age }} лет</td>
                                    </tr>

                                    {% endif %}

                                    {% if item.recomendations == 1%}
                                    <tr>
                                        <td>Есть рекомендации</td>

                                    </tr>
                                    {% endif %}


                                    {% if item.diabet == 1 %}
                                    <tr>
                                        <td>Сахарный диабет</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.insult == 1 %}
                                    <tr>
                                        <td>После инсульта</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.alzheimer == 1 %}
                                    <tr>
                                        <td>Болезнь Альцгеймера</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.dcp == 1 %}
                                    <tr>
                                        <td>ДЦП</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.bed == 1 %}
                                    <tr>
                                        <td>Лежачие больные</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.oncology == 1 %}
                                    <tr>
                                        <td>Онкология</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.hygiene == 1 %}
                                    <tr>
                                        <td>Гигиенические процедуры</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.injections == 1 %}
                                    <tr>
                                        <td>Уколы</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.dropper == 1 %}
                                    <tr>
                                        <td>Установка капельниц</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.lfk == 1 %}
                                    <tr>
                                        <td>Проведение ЛФК</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.cooking == 1 %}
                                    <tr>
                                        <td>Приготовление еды</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.buyfood == 1 %}
                                    <tr>
                                        <td>Покупка продуктов</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.cleaning == 1 %}
                                    <tr>
                                        <td>Уборка дома</td>
                                    </tr>
                                    {% endif %}

                                    {% if item.walking == 1 %}
                                    <tr>
                                        <td>Прогулки</td>
                                    </tr>
                                    {% endif %}


                                </table>

                            </div>


                            <div role="tabpanel" class="tab-pane" id="review">

                                <div class="review">
                                    <span class="icon-smile"></span>
                                    <div class="review-inner">
                                        <p>В процессе</p>
                                        <div class="review-info">
                                            <!--												<p>— Елена Викторовна А.</p>-->
                                            <!--												<p class="text-muted">26 августа, 2017</p>-->
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Показать контакты</a>
                        <span class="text-primary">за 99 руб.</span>
                    </div>
                    <h4>Занятость</h4>
                    <ul>

                        {% if item.shedule == 0 %}
                        <li>Полная занятость (5/2 или 6/1)</li>
                        <li>Частичная занятость</li>
                        <li>С проживанием</li>
                        {% endif %}

                        {% if item.shedule == 1 %}
                        <li>Полная занятость (5/2 или 6/1)</li>
                        {% endif %}

                        {% if item.shedule == 2 %}
                        <li>Частичная занятость</li>
                        {% endif %}

                        {% if item.shedule == 3 %}
                        <li>С проживанием</li>
                        {% endif %}

                    </ul>
                    <!--						<h4>Доступность</h4>-->
                    <!--						<ul>-->
                    <!--							<li>Свободен</li>-->
                    <!--						</ul>-->
                </div>
            </div>
        </div>

        {% endfor %}


    </section>
    <section class="mainbg section-3">
        <div class="container">
            <h2 class="section-title">Похожие специалисты</h2>
            <div class="row">

                <div class="col-md-4">
                    <div class="box patronazh-mini">
                        <p class="status">Заходил сегодня в 15:41</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="patronazh_item.html">
                                    <img class="media-object" src="../static/img/face4.jpg"
                                         alt="Константин Константинович К."/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="patronazh_item.html">Константин Константинович К.</a>
                                </h3>
                                <p>Москва, улица Теплый Стан, Теплый стан</p>
                            </div>
                        </div>
                        <p class="text-muted">40 лет, есть медицинское образование</p>
                        <p class="text-muted">Опыт: 2 года</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="offset-top-18"><a href="patronazh_item.html#review">Отзывы (1)</a></p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>от <span class="price">150</span><br/>руб./час</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-primary col-md-6">Контакты</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box patronazh-mini">
                        <p class="status">Заходил сегодня в 15:41</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="patronazh_item.html">
                                    <img class="media-object" src="../static/img/face2.jpg"
                                         alt="Константин Константинович К."/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="patronazh_item.html">Константин Константинович К.</a>
                                </h3>
                                <p>Москва, улица Теплый Стан, Теплый стан</p>
                            </div>
                        </div>
                        <p class="text-muted">40 лет, есть медицинское образование</p>
                        <p class="text-muted">Опыт: 2 года</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="offset-top-18"><a href="patronazh_item.html#review">Отзывы (1)</a></p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>от <span class="price">150</span><br/>руб./час</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-primary col-md-6">Контакты</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box patronazh-mini">
                        <p class="status">Заходил сегодня в 15:41</p>
                        <div class="media">
                            <div class="media-left">
                                <a href="patronazh_item.html">
                                    <img class="media-object" src="../static/img/face.jpg" alt="Ирина Николаевна Ч."/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="patronage_item">Ирина Николаевна Ч.</a></h3>
                                <p>Москва, улица Теплый Стан, Теплый стан</p>
                            </div>
                        </div>
                        <p class="text-muted">20 лет, есть медицинское образование</p>
                        <p class="text-muted">Опыт: 1 год</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="offset-top-18">Отзывы (1)</p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p>от <span class="price">150</span><br/>руб./час</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-primary col-md-6">Подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

{% endblock %}