{% extends 'base.html' %}

{% block content %}
	<main>
		<section class="mainbg section-1">
			<div class="container">
				<a href="hospital" class="back">Назад к результатам поиска</a>
				<div class="row item_card">
					<div class="col-md-9">
						<div class="box">
							<div class="wrapper">
								<h3 class="media-heading">3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2</h3>
								<p>улица Левобережная, 5 еще 4 филиала</p>
								<span class="badge">Федеральные учреждения</span>
								<figure>
									<img src="static/img/stacionar_card1.jpg" alt="" />
									<a href="static/img/stacionar_card1.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2" class="btn btn-default">Посмотреть все фотографии</a>
									<a href="static/img/panorama_3.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></a>
									<a href="static/img/panorama_4.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></a>
									<a href="static/img/panorama_4-2.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></a>
									<a href="static/img/panorama_5.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></a>
									<a href="static/img/panorama_8.jpg" target="_blank" data-fancybox="stacionar" data-caption="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></a>
								</figure>
							</div>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Описание</a></li>
								<li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Местоположение</a></li>
								<li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Отзывы (2)</a></li>
							</ul>
						
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<p>3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2 находится в Северо-Западном административном округе, районе Левобережный.</p>
									<p>Филиал №2 является многопрофильным специализированным лечебно-профилактическим учреждением Вооруженных Сил Российской Федерации реабилитационного профиля.</p>
								</div>
								<div role="tabpanel" class="tab-pane" id="location">
									<div id="map" data-place="[55.879876, 37.462963]" data-zoom="14" data-name="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2"></div>
								</div>
								<div role="tabpanel" class="tab-pane" id="review">
									<div class="review">
										<span class="icon-smile"></span>
										<div class="review-inner">
											<p>3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2 находится в Северо-Западном административном округе, районе Левобережный.</p>
											<p>Филиал №2 является многопрофильным специализированным лечебно-профилактическим учреждением Вооруженных Сил Российской Федерации реабилитационного профиля.</p>
											<div class="review-info">
												<p>— Елена Викторовна А.</p>
												<p class="text-muted">26 августа, 2017</p>
											</div>
										</div>
									</div>
									<div class="review">
										<span class="icon-smile2"></span>
										<div class="review-inner">
											<p>3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2 находится в Северо-Западном административном округе, районе Левобережный.</p>
											<p>Филиал №2 является многопрофильным специализированным лечебно-профилактическим учреждением Вооруженных Сил Российской Федерации реабилитационного профиля.</p>
											<div class="review-info">
												<p>— Елена Викторовна А.</p>
												<p class="text-muted">26 августа, 2017</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<h4>Контакты</h4>
						<p class="text-muted">Регистратура</p>
						<p class="phone">+7 (495) 451-49-42</p>
						<p class="phone">+7 (495) 451-49-44</p>
						<p class="text-muted">Главный врач</p>
						<p class="phone">+7 (495) 451-49-42</p>
						<p class="text-muted">Радиологическое отделение</p>
						<p class="phone">+7 (495) 451-49-42</p>
						<p class="phone">+7 (495) 451-49-44</p>
						<h4>График работы</h4>
						<p>Пн-пт: 7:00 — 18:00</p>
						<p>Сб-вс: 9:00 — 16:00</p>
					</div>
				</div>
			</div>
		</section>
		<section class="mainbg section-3">
			<div class="container">
				<h2 class="section-title">Похожие стационары</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="box stacionar-sm">
							<div class="media">
								<div class="media-left pic">
									<a href="hospital_item">
										<img src="static/img/stac.jpg" alt="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2" />
									</a>
								</div>
								<div class="media-body">
									<h3 class="media-heading">3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2</h3>
									<p>улица Левобережная, 5 еще 4 филиала</p>
								</div>
							</div>
							<div class="media">
								<div class="media-body">
									<span class="badge">Федеральные учреждения</span>
									<p>Самое важное в жизни — судить обо всём предвзято. Толпа, как известно, обычно ошибается, а каждый человек в отдельности всегда прав ...</p>
								</div>
								<div class="media-right button">
									<a href="hospital_item" class="btn btn-primary" role="button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box stacionar-sm">
							<div class="media">
								<div class="media-left pic">
									<a href="hospital_item">
										<img src="static/img/stac.jpg" alt="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2" />
									</a>
								</div>
								<div class="media-body">
									<h3 class="media-heading">3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2</h3>
									<p>улица Левобережная, 5 еще 4 филиала</p>
								</div>
							</div>
							<div class="media">
								<div class="media-body">
									<span class="badge">Федеральные учреждения</span>
									<p>Самое важное в жизни — судить обо всём предвзято. Толпа, как известно, обычно ошибается, а каждый человек в отдельности всегда прав ...</p>
								</div>
								<div class="media-right button">
									<a href="hospital_item" class="btn btn-primary" role="button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	 {% endblock %}
