{% extends "base.html" %}

{% block content %}

	<main>
		<section class="mainbg">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 class="section-title">Стационар <span>14</span></h1>
					</div>
					<div class="col-md-4 text-right">
						<div class="dropdown">
							Округ: 
							<button class="btn dropdown-toggle" type="button" id="okrug" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Вся Москва
							</button>
							<ul class="dropdown-menu" aria-labelledby="okrug">
								<li><a href="#">ЦАО</a></li>
								<li><a href="#">ЮЗАО</a></li>
								<li><a href="#">ЮВАО</a></li>
								<li><a href="#">САО</a></li>
							</ul>
						</div>
					</div>
				</div>



					<div class="box stacionar media">
					<div class="media-left">
							<img class="media-object" src="static/img/stac.jpg" alt="3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2" />
					</div>
					<div class="media-body">
						<div class="row">
							<div class="col-md-8">
								<h3 class="media-heading"><a href="hospital_item">3-й Центральный Военный Клинический Госпиталь им. А.А. Вишневского, филиал №2</a></h3>
								<p>улица Левобережная, 5 еще 4 филиала</p>
							</div>
							<div class="col-md-4 text-right">
								<a href="hospital_item">Отзывы (1)</a>
							</div>
						</div>
						<div class="media">
							<div class="media-body">
								<a href="stacionar.html"><span class="badge">Федеральные учреждения</span></a>
								<p>Самое важное в жизни — судить обо всём предвзято. Толпа, как известно, обычно ошибается, а каждый человек в отдельности всегда прав. Впрочем, не выводите из этого утверждения правил поведения. Им можно следовать, лишь пока они не ...</p>
							</div>
							<div class="media-right border-left">
								<p class="phone">(495) 451-49-42</p>
								<p>Пн-пт: с 7:00 до 18:00<br/>
								Сб-вс: с 9:00 до 16:00</p>

								<a href="stacionar_item.html" class="btn btn-primary" role="button">Подробнее</a>
							</div>
						</div>
					</div>
				</div>

				
				<div class="text-center offset-top-45">
					<a href="#" class="btn btn-more">Показать еще 10 <span class="icon-chev_down"></span></a>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
