<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Анкета соискателя - Патронаж Сервис</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>

	<header class="relative">
		
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
		{% endwith %}

		<div class="top-header">
			<div class="container">
				<div class="pull-left">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="icon-location"></span> Москва
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">Санкт-Петербург</a></li>
							<li><a href="#">Новосибирск</a></li>
							<li><a href="#">Барнаул</a></li>
							<li><a href="#">Белгород</a></li>
						</ul>
					</div>
					<span class="phone">8 800 000 000 000</span>Будни: 8:00 — 20:00 Выходные: 9:00 — 18:00
				</div>
				<div class="pull-right">
					<a href="cabinet.html">Личный кабинет</a>
				</div>
			</div>
		</div>
		<hr class="top">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="static/img/logo.png" alt="Патронаж Сервис" /></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="about.html">О нас</a></li>
						<li class="active"><a href="anketa.html">Соискателям</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</header>
	<section class="headerpic header2" style="">
	</section>
	<main>
		<section class="mainbg section-4">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-xs-12 col-md-offset-1">
						<h3 class="text-center text-white lg">Чтобы попасть в базу наших специалистов,<br/>заполните анкету ниже</h3>
						<div class="box anketa offset-top-75">
							<form action="{{ url_for('add_worker') }}" method="post" id="anketa-form", accept-charset="UTF-8">
                                {{ form.hidden_tag() }}
								<div class="media">
									<div class="media-left">
										<label for="about">Фото</label>
										<div class="photo"></div>
										<p>Рекомендуем загружать фото не менее 500*500 пикселей, желательно в полный рост, т.к. многие пользователи сервиса при выборе помощника будут ориентироваться на ваши физические возможности</p>
									</div>
									<div class="media-body">
										<h4>Персональная информация</h4>
										<div class="form-group">
											<label for="surname">Фамилия *</label>
											<input type="text" class="form-control" name="surname" id="surname" required>
										</div>
										<div class="form-group">
											<label for="name">Имя *</label>
											<input type="text" class="form-control" name="name" id="name">
										</div>
										<div class="form-group">
											<label for="mname">Отчество *</label>
											<input type="text" class="form-control" name="mname" id="mname">
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-5">
													<label for="birthdate">Возраст *</label>
													<div class="dp-wrapper">
                                                        <input type="text" class="form-control" name="age" id="birthdate"></div>
												</div>
												<div class="col-sm-7">
													<label>Пол *</label><br/>
													<input type="radio" name="sex" id="s0" value="female"><label for="s0">Женский</label>
													<input type="radio" name="sex" id="s1" value="male"><label for="s1">Мужской</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="about">О себе *</label>
											<textarea class="form-control" name="bio" id="about" placeholder="Расскажите кратко о себе и своем опыте"></textarea>
										</div>
										<h4>Контактная информация</h4>
										<div class="form-group">
											<label for="phone">Телефон *</label>
											<input type="text" class="form-control" name="phone" id="phone">
										</div>
										<div class="form-group">
											<label for="email">E-mail *</label>
											<input type="email" class="form-control" name="email" id="email">
										</div>
<!--										<div class="form-group">-->
<!--											<label for="password">Пароль *</label>-->
<!--											<input type="password" class="form-control" name="password" id="password">-->
<!--										</div>-->
										<h4>Условия работы</h4>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-7">
													<label for="pricefrom">Ставка, руб./час *</label>
													<div class="flex">
														<div class="input-group">
															<div class="input-group-addon">от</div>
															<input type="text" class="form-control" name="pricefrom" id="pricefrom">
														</div>
														<div class="input-group">
															<div class="input-group-addon">до</div>
															<input type="text" class="form-control" name="priceto" id="priceto">
														</div>
													</div>
												</div>
												<div class="col-sm-5">
													<label for="exp">Опыт работы, лет *</label>
													<input type="text" class="form-control" name="experience" id="exp">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Занятость</label>
											<div class="checkbox">
												<input type="checkbox" value="0" id="ch81" name="shedule"><label for="ch81">Любая</label>
											</div>
											<div class="checkbox">
												<input type="checkbox" value="1" id="ch8" name="shedule"><label for="ch8">Полная занятость (5/2 или 6/1)</label>
											</div>
											<div class="checkbox">
												<input type="checkbox" value="2" id="ch9" name="shedule"><label for="ch9">Частичная занятость</label>
											</div>
											<div class="checkbox">
												<input type="checkbox" value="3" id="ch10" name="shedule"><label for="ch10">С проживанием</label>
											</div>
										</div>
										<h4>Список навыков</h4>
										<div class="form-group">
											<label for="selectage">Возраст людей, за которыми вы ухаживали</label>
											<div class="select-wrapper">
												<select id="selectage" name="client-age">
                                                    <option value="any">Любой возраст</option>
													<option value="40-50">40-50 лет</option>
													<option value="50-60">50-60 лет</option>
													<option value="60-70">60-70 лет</option>
													<option value="70-80">70-80 лет</option>
													<option value="80+">от 80 и старше</option>
												</select>
											</div>
										</div>
										<label>Опыт работы с больными по диагнозам</label>
										<div class="row">
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="oncology" id="ch11" name="properties"><label for="ch11">Онкология</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="dcp" id="ch12" name="properties"><label for="ch12">ДЦП</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="alzheimer" id="ch13" name="properties"><label for="ch13">Болезнь Альцгеймера</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="insult" id="ch14" name="properties"><label for="ch14">Постинсультная терапия</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="diabet" id="ch15" name="properties"><label for="ch15">Сахарный диабет</label>
												</div>
											</div>
										</div>
										<label>Опыт выполнения медицинских процедур</label>
										<div class="row">
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="hygiene" id="ch19" name="properties"><label for="ch19">Гигиена больного</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="injections" id="ch20" name="properties"><label for="ch20">Подкожные и внутримышечные инъекции</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="bed" id="ch21" name="properties"><label for="ch21">Уход за лежачими больными</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="dropper" id="ch22" name="properties"><label for="ch22">Капельница</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="lfk" id="ch23" name="properties"><label for="ch23">ЛФК</label>
												</div>
											</div>
										</div>
										<label>Дополнительные обязанности, которые вы можете выполнить</label>
										<div class="row">
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="cooking" id="ch24" name="properties"><label for="ch24">Приготовление еды</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="buyfood" id="ch25" name="properties"><label for="ch25">Покупка продуктов и медикаментов</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="cleaning" id="ch26" name="properties"><label for="ch26" >Уборка</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="walking" id="ch27" name="properties"><label for="ch27">Прогулки</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="checkbox">
													<input type="checkbox" value="medical" id="ch29" name="properties"><label for="ch29" >Медицинское образование</label>
												</div>
												<div class="checkbox">
													<input type="checkbox" value="recomendations" id="ch30" name="properties"><label for="ch30" >Рекомендации</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
									<p class="text-muted">
										Регистрируясь вы принимаете условия<br/>
										<a data-toggle="modal" href="policy.html" data-target="#policyModal">Пользовательского соглашения</а>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="page_footer ds section_padding_top_50 section_padding_bottom_65 columns_padding_25 table_section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<a href="index.html" class="logo">
						<img src="static/img/logo-footer.png" alt="Патронаж Сервис">
					</a>
				</div>
				<div class="col-md-2 col-sm-12 ">
					<span class="phone">8 800 000 000 000</span>
				</div>
				<div class="col-md-6 col-sm-12 ">
					<p class="offset-top-10">Будни: 8:00 — 20:00</p>
					<p>Выходные: 9:00 — 18:00</p>
				</div>
			</div>
		</div>
	</footer>
	<section id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>2019 &copy; Все права защищены</p>
				</div>
			</div>
		</div>
	</section>

<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cancel" aria-hidden="true"></span></a>
					<h4 class="modal-title" id="policyModalLabel">Пользовательское соглашение</h4>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
				</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	<!--<script type="text/javascript" src="js/jquery-min.js"></script>-->
	<script type="text/javascript" src="static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="static/js/plugins.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>

</body>
</html>